<h2>Log In</h2>
<form action="/users/login" method="POST">
<label><strong>username:</strong><input type="text" name="username"></label>
<label><strong>password:</strong><input type="text" name="password"></label>
<button type="sumbit">Submit</button>

</form>